{% extends "dashboard1.html" %}

{% block content %}
<div class="container">
  <h1>You are now logged in!</h1>
  <h1>{{ user.username }}</h1>
  <a href="/test/about_me"><button type="button" class="btn btn-primary">About Me</button></a>
</div>
{% endblock %}

{% block notf %}
      <section class="client no-padding-top">
       <div class="container-fluid">
         <div class="row">
             <div class="col-lg-6">
                <div class="recent-updates card">
                  <div class="card-close">
                    <div class="dropdown">
                      <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                    </div>
                  </div>
                  <div class="card-header">
                    <h3 class="h4">Recent Updates</h3>
                  </div>
                  <div class="card-body no-padding">
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                      <div class="info d-flex">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title">
                          <h5>Lorem ipsum dolor sit amet.</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                        </div>
                      </div>
                      <div class="date text-right"><strong>24</strong><span>May</span></div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                      <div class="info d-flex">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title">
                          <h5>Lorem ipsum dolor sit amet.</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                        </div>
                      </div>
                      <div class="date text-right"><strong>24</strong><span>May</span></div>
                    </div>
                    <!-- Item        -->
                    <div class="item d-flex justify-content-between">
                      <div class="info d-flex">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title">
                          <h5>Lorem ipsum dolor sit amet.</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                        </div>
                      </div>
                      <div class="date text-right"><strong>24</strong><span>May</span></div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                      <div class="info d-flex">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title">
                          <h5>Lorem ipsum dolor sit amet.</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                        </div>
                      </div>
                      <div class="date text-right"><strong>24</strong><span>May</span></div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                      <div class="info d-flex">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title">
                          <h5>Lorem ipsum dolor sit amet.</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                        </div>
                      </div>
                      <div class="date text-right"><strong>24</strong><span>May</span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                  <div class="client card">
                    <div class="card-close">
                      <div class="dropdown">
                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-body text-center">
                      <div class="client-avatar"><img src="{{ profile.profile_pic.url }}" alt="..." class="img-fluid rounded-circle">
                        <div class="status bg-green"></div>
                      </div>
                      <div class="client-title">
                        <h3>{{user.first_name}} {{user.last_name}}</h3><span>{{profile.designation}}</span><a href="#">Follow</a>
                      </div>
                      <div class="client-info">
                        <div class="row">
                          <div class="col-4"><strong>20</strong><br><small>Photos</small></div>
                          <div class="col-4"><strong>54</strong><br><small>Videos</small></div>
                          <div class="col-4"><strong>235</strong><br><small>Tasks</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            </sectiion>
{% endblock %}
