{% extends "dashboard.html" %}
{% block content %}
  {% for sub in users %}
  <h2>{{sub.project_title}}</h2>
  <h3>{{sub.project_description}}</h3>
  <h3>{{sub.pi}}</h3>
  <h3>{{sub.co_pi}}</h3>
  <h3>{{ sub.funding_agency }}</h3>
  <h3>{{ sub.start_year }}</h3>
  <h3>{{ sub.end_year }}</h3>
  <a href="{% url 'details:project_edit' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Edit</button>
  </a>
  <a href="{% url 'details:project_delete' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Delete</button>
  </a>
  {% endfor %}
  <a href = "{% url 'details:project' %}add">
    <button type="button" class="btn btn-primary" name="button">Add</button>
  </a>
{% endblock %}
