{% extends "dashboard.html" %}
{% block content %}
<style>
#tab { display:inline-block;
     margin-left: 40px; }
</style>
<ul>
<li>{% for sub in users %}
  <h2>{{sub.heading}}</h2>
  <h3 id="tab">{{sub.description}}</h3>
  <a href="{% url 'details:recognition_edit' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Edit</button>
  </a>
  <a href="{% url 'details:recognition_delete' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Delete</button>
  </a>
  {% endfor %}
</li>
</ul>
  <a href = "{% url 'details:recognition' %}add">
    <button type="button" class="btn btn-primary" name="button">Add</button>
  </a>
{% endblock %}
