{% extends "dashboard.html" %}
{% block content %}
  {% for sub in users %}
  <h2>{{sub.year}}</h2>
  <h3>designation : {{sub.semester}}</h3>
  <h3>Office : {{sub.course_name}}</h3>
  <h3>department of {{sub.course_description}}</h3>
  <a href="{% url 'details:teaching_edit' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Edit</button>
  </a>
  <a href="{% url 'details:teaching_delete' pk=sub.pk %}">
    <button type="button" class="btn btn-primary" name="button">Delete</button>
  </a>
  {% endfor %}
  <a href = "{% url 'details:teaching' %}add">
    <button type="button" class="btn btn-primary" name="button">Add</button>
  </a>
{% endblock %}
